/*html {
	background: grey;
}

header h1 {
	background: lightgreen;
}

main {
	background-color: pink;
}

aside {
	background-color: red;
}

article {
	background-color: yellow;
}

footer #link_table th {
	border: 1px solid grey;
}
*/
