{% extends 'kpi/day.html' %}
{% block month_content %}
<div class="kpi_box" id="div1">
<h2> Ultimi 30 giorni: </h2>
<table>
  <tr>
    <th style="text-align: right;">Ultimo giorno considerato:</th><th>{{ thirty_days.last_date | date:"D d F"}}</th>
  </tr>
  <tr>
    <td class="field_class">Ricevute</td><td>{{ thirty_days.incoming_calls }}</td>
  </tr>
  <tr>
    <td class="field_class">Risposte</td>
    {% if thirty_days.answered_as_percentage > ans_upper_th %}
      <td class="over_threshold">
    {% elif thirty_days.answered_as_percentage < ans_lower_th %}
      <td class="under_threshold">
    {% else %}
      <td class="within_threshold">
    {% endif %}
    {{ thirty_days.answered_as_percentage }} %
    </td>
  </tr>
  <tr>
    <td class="field_class">Veloce</td>
    {% if thirty_days.fast_as_percentage > fast_upper_th %}
      <td class="over_threshold">
    {% elif thirty_days.fast_as_percentage < fast_lower_th %}
      <td class="under_threshold">
    {% else %}
      <td class="within_threshold">
    {% endif %}
    {{ thirty_days.fast_as_percentage }} %
    </td>
  </tr>
  <tr>
    <td class="field_class">Impazienti</td><td>{{ thirty_days.abandoned_soon_calls }}</td>
  </tr>
  <tr>
    <td class="field_class">Soddisfatti</td><td>{{ thirty_days.satisfied_calls }}</td>
  </tr>
  <tr>
    <td class="field_class">Media di Connessione</td><td>{{ thirty_days.average_connection_time }} <small>secondi</small></td>
  </tr>
  <tr>
    <td class="field_class">Media di Attesa</td><td>{{ thirty_days.average_wait_time }} <small>secondi</small></td>
  </tr>
</table>
</div>
{% endblock month_content %}

{% block week_content %}
<div class="kpi_box" id="div2">
<h2> Ultimi 5 giorni: </h2>
<table>
  <tr><th></th>{% for day in five_days %}<th>{{ day.date | date:"D d F"}}</th>{% endfor %}</tr>
  <tr><td class="field_class">Ricevute</td>
  {% for day in five_days %}
    <td>
    {{ day.incoming_calls }}
    </td>
  {% endfor %}
  </tr>
  <tr><td class="field_class">Risposte</td>
  {% for day in five_days %}
    {% if day.answered_as_percentage > ans_upper_th %}
      <td class="over_threshold">
    {% elif day.answered_as_percentage < ans_lower_th %}
      <td class="under_threshold">
    {% else %}
      <td class="within_threshold">
    {% endif %}
    {{ day.answered_as_percentage }} %
    </td>
  {% endfor %}
  </tr>
  <tr><td class="field_class">Veloce</td>
  {% for day in five_days %}
    {% if day.fast_as_percentage > fast_upper_th %}
      <td class="over_threshold">
    {% elif day.fast_as_percentage < fast_lower_th %}
      <td class="under_threshold">
    {% else %}
      <td class="within_threshold">
    {% endif %}
    {{ day.fast_as_percentage }} %
    </td>
  {% endfor %}
  </tr>
  <tr><td class="field_class">Impazienti</td>
  {% for day in five_days %}
    <td>
    {{ day.abandoned_soon_calls }}
    </td>
  {% endfor %}
  </tr>
  <tr><td class="field_class">Soddisfatti</td>
  {% for day in five_days %}
    <td>
    {{ day.satisfied_calls }}
    </td>
  {% endfor %}
  </tr>
</table>
</div>
{% endblock week_content %}


