{% load staticfiles %} <!-- this will make the static tag available throughout the project -->
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>NCA.it | Natterbox Calls KPI</title>
  <meta name="description" content="NCA.it KPI">
  <meta name="author" content="Federico Rizzo">

  <link rel="stylesheet" href="{% static 'style.css' %}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  {% block content %}
  {% endblock content %}
  <script src="{% static 'main.js' %}"></script>
</body>
</html
